/* TABLE STYLES */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px 15px;
  text-align: left;
}

.source {
  font-size: 14px;
}
a[aria-label]:hover:after,
.recipe-name[aria-label]:hover:after {
  content: attr(aria-label);
  min-width:300px;
  max-width:300px;
  /* top:50%;
  left:100%; */
  margin-left:20px;
  transform:translate(0, -50%);
  padding:10px 20px;
  color:#555;
  background-color:#fff;
  font-weight:normal;
  font-size:14px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px #ddd;
}
.tooltip {
  display:inline;
  position:relative;
  text-align:left;
}
.tooltip bottom {
  display: none;
}
.tooltip .right {
  min-width:300px;
  top:50%;
  left:100%;
  margin-left:20px;
  transform:translate(0, -50%);
  padding:10px 20px;
  color:#555;
  background-color:#fff;
  font-weight:normal;
  font-size:14px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px #ddd;
  display:none;
}
.tooltip:hover .right {
  display:block;
}
.tooltip .right i {
  position:absolute;
  top:50%;
  right:100%;
  margin-top:-12px;
  width:12px;
  height:24px;
  overflow:hidden;
}
.tooltip .right i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:0;
  top:50%;
  transform:translate(50%,-50%) rotate(-45deg);
  background-color:#fff;
  box-shadow:0 1px 8px #ddd;
}

.right .tooltip-title {
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
}

.right .tooltip-excerpt {
  font-size: 12px;
  display: inline-block;
}

.right .tooltip-excerpt a {
  font-size: 12px;
}

#recipe-photos figure {
  margin: 0 0 1em 0;
}

/* Related Backlinks */
.related-group a .related-title {
  font-weight: 500;
  margin-bottom: 1px;
}
.related-group a .related-excerpt {
  font-size: 14px;
  color: #333;
}
.related-group a:hover  .related-title,
.related-group a:hover  .related-excerpt {
  color:#036;
}

/* Sidenotes */


.sn-right,
.mn-right {
  float: right;
  clear: right;
  font-size: 14px;
  margin-right: -45%;
  width: 40%;
  margin-top: -8px;
  margin-bottom: 0;
  vertical-align: baseline;
  position: relative;
  background: linear-gradient(90deg,#fafafa, #f6f6f6);
  margin-bottom: 5px;
  padding: 10px 10px 20px 0;
  border-radius: 0 5px 20px 0;
}

.sn-left,
.mn-left {
  float: left;
  clear: left;
  font-size: 14px;
  margin-left: -50%;
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
  position: relative;
  background: #f6f6f6;
  margin-bottom: 5px;
  padding: 10px 11px 20px 10px;
  border-radius: 5px 0 0 20px;
  text-align: right;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}
.sidenote-number:hover ~ .sn-left {
  -webkit-box-shadow: -10px 0px 14px -5px rgba(255, 0, 0, 0.3);
  -moz-box-shadow: -10px 0px 14px -5px rgba(255, 0, 0, 0.3);
  box-shadow: -10px 0px 14px -5px rgba(255, 0, 0, 0.3);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.sidenote-number ~ .sn-left {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition:    all 0.25s ease-in-out;
  -o-transition:      all 0.25s ease-in-out;
  transition:         all 0.25s ease-in-out;
}
.sidenote-number:hover ~ .sn-right {
  -webkit-box-shadow: 10px 0px 14px -5px rgba(71,107,204,0.3);
  moz-box-shadow:     10px 0px 14px -5px rgba(71,107,204,0.3);
  box-shadow:         10px 0px 14px -5px rgba(71,107,204,0.3);
  background: #fafafa;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition:    all 0.25s ease-in-out;
  -o-transition:      all 0.25s ease-in-out;
  transition:         all 0.25s ease-in-out;
}
.sidenote-number ~ .sn-right {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition:    all 0.25s ease-in-out;
  -o-transition:      all 0.25s ease-in-out;
  transition:         all 0.25s ease-in-out;
}
.sidenote-number:after,
.sn-left:before,
.sn-right:before {
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  color: #900;
  content: counter(sidenote-counter);
  font-size: 11px;
  font-weight: 600;
  top: -0.4rem;
  left: -0.3rem;
  padding: 0 5px;
  cursor: pointer;
}
.sidenote-number::after:hover {
  cursor: pointer;
}
.sn-right:before,
.sn-left:before {
  content: counter(sidenote-counter) " ";
  font-size: 11px;
  top: -1px;
  color: #900;
  margin-right: 4px;
  display: inline-block;
  width: 10%;
  text-align: right;
  font-weight: 600;
}

blockquote .sn-left,
blockquote .mn-left {
  float: left;
  clear: left;
  margin-left: -58%;
  width: 40%;
  text-align: left;
}

li .sn-left,
li .mn-left {
  float: left;
  clear: left;
  margin-left: -53%;
  width: 40%;
  text-align: left;
}

blockquote .sn-right,
blockquote .mn-right {
  float: right;
  clear: right;
  margin-right: -55% !important;
  width: 40%;
  text-align: left;
}

li .sn-right,
li .mn-right {
  float: right;
  clear: right;
  margin-right: -45% !important;
  width: 40%;
  text-align: left;
}
.transclusion a {
    display: block;
}
.onglet {
  font-size: inherit;
  margin-left: 0px;
  display: block;
  float: right;
  width: 85%;
  font-weight: 200;
  line-height: 160%;
}
li .mn-left .onglet,
li .mn-right .onglet {
  float: none;
  width: auto;
}
.tooltip {
  display:inline;
  position:relative;
  text-align:left;
}


.tooltip bottom {
  display: none;
}

.tooltip .right {
  min-width:300px;
  top:50%;
  left:100%;
  margin-left:20px;
  transform:translate(0, -50%);
  padding:10px 20px;
  color:#555;
  background-color:#fff;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px #ddd;
  display:none;
}

.tooltip:hover .right {
  display:block;
}

.tooltip .right i {
  position:absolute;
  top:50%;
  right:100%;
  margin-top:-12px;
  width:12px;
  height:24px;
  overflow:hidden;
}

.tooltip .right i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:0;
  top:50%;
  transform:translate(50%,-50%) rotate(-45deg);
  background-color:#fff;
  box-shadow:0 1px 8px #ddd;
}

.right .tooltip-title {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: 130%;
}

.right .tooltip-excerpt {
  font-size: 12px;
  display: inline-block;
}

.right .tooltip-excerpt a {
  font-size: 12px;
}

input.margin-toggle {
  display: none;
}

.srs-svg {
  stroke: #555;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.spaced-rep {
  display: none;
}

input.srs-toggle {
  display: none;
}

label.srs-toggle {
  display: inline;
  cursor: pointer;
}

.srs-toggle:checked + .spaced-rep{
  display: block !important;
  left: 1rem;
  clear: both;
  margin: 1rem 2.5%;
  vertical-align: baseline;
  position: relative;
  padding: 12px;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  border-radius: 5px;
  box-shadow: 1px 1px 15px #cfcfcf;
  word-wrap:break-word;
}

/* CUSTOM */
a:hover,
#header-menu .menu a:hover {
	color: #c30;
}
a:active,
#header-menu .menu a:active {
  color: #f60;
}
.content a {
	text-decoration: underline dotted currentColor 1px;
}
.box-ingredients h1,
.box-ingredients h2,
.box-ingredients h3,
.box-directions h1,
.box-directions h2,
.box-directions h3 {
	font-size: 1rem;
	font-weight: bold;
}

.box-ingredients ul {
	margin-left: .9em;
}
.box-ingredients li {
	line-height: 180%;
	list-style-type: circle;
	padding-left: 2px;
}

footer #techpro {
    width: 75px;
}
/* DEBUG */

pre {
  font-size: 14px;
  margin: 0 0 20px;
  color: #333;
  background-color: #e6e6e6;
  padding: 10px 0 10px 10px;
  font-family: menlo, monospace;
}
h6.debug {
  padding: 5px 0 5px 20px;
  margin-bottom: 5px;
  border-bottom: 1px dashed #ccc;
  background: #cdf;
}