/* TABLE STYLES */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px 15px;
  text-align: left;
}

a[aria-label]:hover:after,
.recipe-name[aria-label]:hover:after {
  content: attr(aria-label);
  min-width:300px;
  max-width:300px;
  /* top:50%;
  left:100%; */
  margin-left:20px;
  transform:translate(0, -50%);
  padding:10px 20px;
  color:#555;
  background-color:#fff;
  font-weight:normal;
  font-size:14px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px #ddd;
}
.tooltip {
  display:inline;
  position:relative;
  text-align:left;
}
.tooltip bottom {
  display: none;
}
.tooltip .right {
  min-width:300px;
  top:50%;
  left:100%;
  margin-left:20px;
  transform:translate(0, -50%);
  padding:10px 20px;
  color:#555;
  background-color:#fff;
  font-weight:normal;
  font-size:14px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px #ddd;
  display:none;
}
.tooltip:hover .right {
  display:block;
}
.tooltip .right i {
  position:absolute;
  top:50%;
  right:100%;
  margin-top:-12px;
  width:12px;
  height:24px;
  overflow:hidden;
}
.tooltip .right i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:0;
  top:50%;
  transform:translate(50%,-50%) rotate(-45deg);
  background-color:#fff;
  box-shadow:0 1px 8px #ddd;
}

.right .tooltip-title {
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
}

.right .tooltip-excerpt {
  font-size: 12px;
  display: inline-block;
}

.right .tooltip-excerpt a {
  font-size: 12px;
}

#recipe-photos figure {
  margin: 0 0 1em 0;
}

/* Related Backlinks */
#backlinks h4 {
  font-size:17pt;
}
.box-backlinks {
  padding-bottom: 1em;
}
.related-group a .related-title {
  font-weight: 500;
  margin-bottom: 1px;
}
.related-group a .related-excerpt {
  font-size: 14px;
  color: #333;
}
.related-group a:hover  .related-title,
.related-group a:hover  .related-excerpt {
  color:#036;
}

/* Sidenotes */


.sn-right,
.mn-right {
  float: right;
  clear: right;
  font-size: 14px;
  margin-right: -45%;
  width: 40%;
  margin-top: -8px;
  margin-bottom: 0;
  vertical-align: baseline;
  position: relative;
  background: linear-gradient(90deg,#fafafa, #f6f6f6);
  margin-bottom: 5px;
  padding: 10px 10px 20px 0;
  border-radius: 0 5px 20px 0;
}

.sn-left,
.mn-left {
  float: left;
  clear: left;
  font-size: 14px;
  margin-left: -50%;
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
  position: relative;
  background: #f6f6f6;
  margin-bottom: 5px;
  padding: 10px 11px 20px 10px;
  border-radius: 5px 0 0 20px;
  text-align: right;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}
.sidenote-number:hover ~ .sn-left {
  -webkit-box-shadow: -10px 0px 14px -5px rgba(255, 0, 0, 0.3);
  -moz-box-shadow: -10px 0px 14px -5px rgba(255, 0, 0, 0.3);
  box-shadow: -10px 0px 14px -5px rgba(255, 0, 0, 0.3);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.sidenote-number ~ .sn-left {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition:    all 0.25s ease-in-out;
  -o-transition:      all 0.25s ease-in-out;
  transition:         all 0.25s ease-in-out;
}
.sidenote-number:hover ~ .sn-right {
  -webkit-box-shadow: 10px 0px 14px -5px rgba(71,107,204,0.3);
  moz-box-shadow:     10px 0px 14px -5px rgba(71,107,204,0.3);
  box-shadow:         10px 0px 14px -5px rgba(71,107,204,0.3);
  background: #fafafa;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition:    all 0.25s ease-in-out;
  -o-transition:      all 0.25s ease-in-out;
  transition:         all 0.25s ease-in-out;
}
.sidenote-number ~ .sn-right {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition:    all 0.25s ease-in-out;
  -o-transition:      all 0.25s ease-in-out;
  transition:         all 0.25s ease-in-out;
}
.sidenote-number:after,
.sn-left:before,
.sn-right:before {
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  color: #900;
  content: counter(sidenote-counter);
  font-size: 11px;
  font-weight: 600;
  top: -0.4rem;
  left: -0.3rem;
  padding: 0 5px;
  cursor: pointer;
}
.sidenote-number::after:hover {
  cursor: pointer;
}
.sn-right:before,
.sn-left:before {
  content: counter(sidenote-counter) " ";
  font-size: 11px;
  top: -1px;
  color: #900;
  margin-right: 4px;
  display: inline-block;
  width: 10%;
  text-align: right;
  font-weight: 600;
}

blockquote .sn-left,
blockquote .mn-left {
  float: left;
  clear: left;
  margin-left: -58%;
  width: 40%;
  text-align: left;
}

li .sn-left,
li .mn-left {
  float: left;
  clear: left;
  margin-left: -53%;
  width: 40%;
  text-align: left;
}

blockquote .sn-right,
blockquote .mn-right {
  float: right;
  clear: right;
  margin-right: -55% !important;
  width: 40%;
  text-align: left;
}

li .sn-right,
li .mn-right {
  float: right;
  clear: right;
  margin-right: -45% !important;
  width: 40%;
  text-align: left;
}
.transclusion a {
    display: block;
}
.onglet {
  font-size: inherit;
  margin-left: 0px;
  display: block;
  float: right;
  width: 85%;
  font-weight: 200;
  line-height: 160%;
}
li .mn-left .onglet,
li .mn-right .onglet {
  float: none;
  width: auto;
}
.tooltip {
  display:inline;
  position:relative;
  text-align:left;
}


.tooltip bottom {
  display: none;
}

.tooltip .right {
  min-width:300px;
  top:50%;
  left:100%;
  margin-left:20px;
  transform:translate(0, -50%);
  padding:10px 20px;
  color:#555;
  background-color:#fff;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px #ddd;
  display:none;
}

.tooltip:hover .right {
  display:block;
}

.tooltip .right i {
  position:absolute;
  top:50%;
  right:100%;
  margin-top:-12px;
  width:12px;
  height:24px;
  overflow:hidden;
}

.tooltip .right i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:0;
  top:50%;
  transform:translate(50%,-50%) rotate(-45deg);
  background-color:#fff;
  box-shadow:0 1px 8px #ddd;
}

.right .tooltip-title {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: 130%;
}

.right .tooltip-excerpt {
  font-size: 12px;
  display: inline-block;
}

.right .tooltip-excerpt a {
  font-size: 12px;
}

input.margin-toggle {
  display: none;
}

.srs-svg {
  stroke: #555;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.spaced-rep {
  display: none;
}

input.srs-toggle {
  display: none;
}

label.srs-toggle {
  display: inline;
  cursor: pointer;
}

.srs-toggle:checked + .spaced-rep{
  display: block !important;
  left: 1rem;
  clear: both;
  margin: 1rem 2.5%;
  vertical-align: baseline;
  position: relative;
  padding: 12px;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  border-radius: 5px;
  box-shadow: 1px 1px 15px #cfcfcf;
  word-wrap:break-word;
}

/* CUSTOM */
a:hover,
#header-menu .menu a:hover {
	color: #c30;
}
a:active,
#header-menu .menu a:active {
  color: #f60;
}
a.no-endpoint-link {
}
a.no-endpoint-link:hover {
  background-color:#fff;
  color:#f60;
}
.column, .columns {
  padding-top: .4em;
}
hr {
  margin-top:3em;
  margin-bottom:2em;
}
.content a {
	text-decoration: underline dotted currentColor 1px;
}

/*
.mine > div { background-color: #e7f3fe; }
.notmine > div { background-color: #fee7e7; }
*/

#row-two {
  margin-top: 2em;
  padding-top: 3em;
  border-top: 1px solid #ccc;
}


.columns#ingredients {
  background: #F7F5E0;
  border-radius: 10px;
}
.box-ingredients h1,
.box-ingredients h2,
.box-ingredients h3,
.box-directions h1,
.box-directions h2,
.box-directions h3 {
	font-size: 1rem;
	font-weight: bold;
}
.box-ingredients ul {
  margin-left: 0;
  margin-top: 1em;
}
.box-ingredients li {
  border-bottom: 1px solid #e8e1a2;
  font-size:90%;
  line-height: 1.6em;
  list-style-type: none;
  padding-left: 0;
  padding-bottom:.5em;
  margin-bottom: .5em;
}

.meal-notes {
  margin-bottom: 2em;
  padding-bottom:1.6em;
  border-bottom: 1px solid #ccc;
}
.meal-notes ul {
  margin: 1em 0 0 0;
}
.meal-notes ul li {
  list-style-type: none;
  line-height: 140%;
  margin-bottom: 2.4em;
}
.meal-notes ul li a {
  display: block;
  padding: 1px 2px 2px;
  line-height: 1.6em;
  margin-bottom: .4em;
}
.meal-notes ul li a em {
  display: block;
  font-style: normal;
  font-size:80%;
}
.meal-notes-feed {}
.meal-notes-feed .note {
  margin-bottom: 3em;
  padding-bottom: 2em;
  border-bottom: 1px dotted #ccc;
}
.meal-notes-feed .note .title {
  display: block;
  line-height: 1em;
  margin-bottom: 1em;
}
.meal-notes-feed .note h5 {
  margin:0;
  padding: 0;
}
.meal-notes-feed .note strong {
  font-style: normal;
  font-weight: normal;
  font-size:80%;
}
.meal-notes-feed .note em {
  font-style: normal;
  font-size:80%;
  color:#666;
  line-height: 18pt;
}
.meal-notes-feed .note p img {
  margin-bottom: 1em;
}
.meals {
  margin-bottom: 2em;
  padding-bottom:1.6em;
  border-bottom: 1px solid #ccc;
}
.meals ul {
  margin: 1em 0 0 0;
}
.meals ul li {
  list-style-type: none;
  font-size: 80%;
  line-height: 180%;
  margin-bottom: 2em;
}
.meals ul li a {
  display: block;
  padding: 1px 2px 2px;
}
.meals ul li a strong {
  color:#333;
  font-weight: 400;
  font-size: 1rem;
}
.meals ul li a:hover strong {
  color:#c30;
}
#copyright {
  background: #f1f1f1;
  padding: .8em 1em .8em 1em;
}
#copyright h6 {
}
#copyright .box{
  font-size: 85%;
}
#copyright blockquote {
  color: #000;
  /* font-style: italic; */
  margin: 0;
  padding: 0.5rem 0 0.5rem 0;
  border-left: none;
}
#copyright p {
  margin-bottom: 0;
  font-weight: bold;
}
.marker {
  font-family: 'Permanent Marker';
}
.last {
  border:none !important;
}
.bgc-lorange {
  background-color: #FFEEE3;
  padding-left: 0.9em;
  padding-right: 0.9em;
}
.fgc-orange {
  color: #F60;
}
#recipe #backlinks {
  float:right;
}
footer {
  margin-top: 100px;
}
footer #techpro {
    width: 75px;
}
/* RECIPE PAGE */
#big-photo {
  margin-bottom: 2em;
}

/* DEBUG */

pre {
  font-size: 14px;
  margin: 0 0 20px;
  color: #333;
  background-color: #e6e6e6;
  padding: 10px 0 10px 10px;
  font-family: menlo, monospace;
}
h6.debug {
  padding: 5px 0 5px 20px;
  margin-bottom: 5px;
  border-bottom: 1px dashed #ccc;
  background: #cdf;
}

/* Page type-specific */

body.page {}
body.post {}
body.recipe .page-header .title {
  font-size: 2.5rem;
  line-height: 110%;
  margin: 0.2rem 0 0.2rem;
}
body.recipe .page-header .source {
  font-size: 14px;
  color: #666;
  margin-bottom: 0.2rem;
}

/* Note pages */
.page-header {
  margin-bottom: 1em;
}
.page-header .title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 117%;
}
body.note .content h1,
body.note .content h2,
body.note .content h3 {
  font-size: 2rem;
}
.sub-title .tags {
  font-size:14px;
}
/* Related Tags */
.related-tags {
  list-style-type: none;
  margin-left: 0;
}
.related-tags em {
  font-style: normal;
  font-size: 8pt;
  font-weight: 500;
  vertical-align: 1px;
  color:#999;
}

h4 a {
  color: #000;
}
h4 a em {
  color: #fff;
  font-style: normal;
}
h4 a:hover em {
  color: #c30;
}

.dev-only {
  color: #900;
  background: #F6E8E8;
}
.dev-only.app-ui {
  color: #639;
  background: #E3DAEC;
  padding: 5px;
}
.dev-only.app-ui a {
  color: #8258AC;
  border-bottom: 1px dotted;
}
.dev-only #photo-strip .dev-photos {
  overflow: auto;
  width: 100%
}
.dev-only #photo-strip figure {
  display: block;
  float:left;
  margin: 10px 10px 0 0;
  width: 200px;
}
.dev-only #photo-strip figure figcaption {
  margin: 0;
  font-size: 8pt;
}
.dev-only #stuff div {
  margin-bottom: 1em;
}
.dev-only .dev-cats ul li {
  list-style-type: "— ";
}