---
layout:   test_index
title:    Tags
---
{% comment%}
Here we generate all the tags.
{% endcomment%}
<style>
table tr td {
  font-size: 85%;
}
.note {
  background: #99CCFF;
}
.recipe {
  background: #FFE8B9;
}
.post {
  background: #E3F1B9;
}
td.page, .ppage {
  background: #ECDAFF;
}
div.taglist {
}
dt {
  margin: 1em 0 0 2em;
}
dt.first {
  margin-top: 0;
}
.rawtags {
  list-style-type: '- ';
  margin-left: 1em;
}
</style>

{% assign rawtags = "" %}
{% for doc in site.documents %}
  {% assign ttags = doc.tags | join:'|' | append:'|' %}
  {% assign ttags = ttags %}
  {% assign rawtags = rawtags | append:ttags %}
{% endfor %}

{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}

{% for tag in rawtags %}
  {% if tag != "" %}
    {% if tags == "" %}
      {% assign tags = tag | split:'|' %}
    {% endif %}
    {% unless tags contains tag %}
      {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}
{% assign tags = tags | sort_natural %}

<div class="row" id="title">
	<div class="small-12 columns">
    <div class="page-header">
      <h1>{{ page.title }}</h1>
    </div>
    </div>
  </div>
</div>


<div class="row" id="thing">
	<div class="medium-3 columns" id="" style="background:#f1f1f1;border-radius:0 20px;border-top:3px double #000;border-right:3px double #000;">

    <div class="taglist">
      <p><strong>Cleaned by Python</strong></p>
      <dl>
      {% assign tags_alpha = site.data.tags_alpha_grouped %}
      {% for alpha in tags_alpha %}
        {% assign firstclass = "" %}
        {% if forloop.first %}
        {% assign firstclass = " first" %}
        {% endif %}
        <dt class="{{firstclass}}">{{ alpha[0] | upcase }}</dt>
          {% assign alpha_1_sort = alpha[1] | sort %}
          {% for atag in alpha_1_sort %}
            <dd>
              <a href="/tag/{{atag[1]['filename'] }}" title="{{atag[0]}} page">䷀</a> 
              <a href="#{{atag[1]['filename'] }}" title="{{atag[0]}} debug">#</a> 
              {{atag[0]}}
            </dd>
          {% endfor %}
      {% endfor %}
      </dl>
    </div>

  </div>

	<div class="medium-3 columns" id="">

    <p><strong>Liquid, from files</strong></p>
    <ul class="rawtags">
      {% for tag in tags %}
        <li><a href="#{{ tag | slugify }}" class="codinfox-tag-mark"> {{ tag }} </a></li>
      {% endfor %}
    </ul>

  </div>

	<div class="medium-6 columns" id="main">

    <h3>Note:</h3>
    <ul>
      <li>Tags on <span class="recipe">Recipes</span> are the recipe's "categories" from Paprika.</li>
      <li>Tags on <span class="note">Notes</span> are manually entered in the Front Matter,<br><em>NOT the related recipe's "categories" from Paprika</em>.</li>
      <li>Tags on <span class="post">Posts</span> and <span class="ppage">Pages</span> are manually entered in the Front Matter.</li>
    </ul>

    <table>
    {% for tag in tags %}
      <tr><th colspan="5"><br><h4 id="{{ tag | slugify }}">{{ tag }}</h4></th></tr>
      {% assign docs = site.documents | where_exp:"item", "item.tags contains tag" %}
      {% for doc in docs %}
        <tr>
          {% assign go = 0 %}
          {% if doc.i_am == "recipe" and doc.rating >= 5 or doc.mine %}
            {% assign go = 1 %}
          {% elsif doc.i_am == "page" %}
            {% assign go = 1 %}
          {% elsif doc.i_am == "note" %}
            {% assign go = 1 %}
          {% elsif doc.i_am == "post" %}
            {% assign go = 1 %}
          {% endif %}
          
          {% if go %}
            <td valign="top" class="{{ doc.i_am }}">{{ doc.i_am | capitalize }}</td>
            <td valign="top"><a href="{{ doc.url }}"><strong>{{ doc.title }}</strong></a></td>
            {% comment %}<td valign="top"><small>{{ doc.date | date_to_string }}</small></td>{% endcomment %}
            <td valign="top">Other&nbsp;tags:</td>
            <td valign="top">
              {% for ttag in doc.tags %}
              {% if ttag != tag %}
                <a class="codinfox-tag-mark" href="#{{ ttag | slugify }}">{{ ttag }}</a>{% unless forloop.last %}, {% endunless %}
              {% endif %}
              {% endfor %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    {% endfor %}
    </table>

  </div>

</div>