.gitignore
_site
_data
.sass-cache
.jekyll-cache
.jekyll-metadata
.obsidian
.DS_Store
vendor
_recipes_md/
.ipynb_checkpoints
*.ipynb
__scripts/.ipynb_checkpoints/ParsePaprika-checkpoint.ipynb
__scripts/RecipeTest.paprikarecipes
paprikarecipes_html/
__scripts/data/
images/