.gitignore
.sass-cache
.jekyll-cache
.jekyll-metadata
#.obsidian
.DS_Store
vendor
.htaccess

#
__project_files

# __scripts stuff
__pycache__
.ipynb_checkpoints/
__scripts/.ipynb_checkpoints/ParsePaprika-checkpoint.ipynb
__scripts/data/
__scripts/backups/

_site/
__scripts/config.py
.obsidian/workspace
_data/meal_by_recipe_and_date.json
.obsidian/config
.obsidian/workspace
__scripts/DelLocalFiles.py
