.gitignore
.sass-cache
.jekyll-cache
.jekyll-metadata
#.obsidian
.obsidian/config
.obsidian/workspace

#
__project_files
__storage
test/

# __scripts stuff
venv
__pycache__
.ipynb_checkpoints/
__scripts/.ipynb_checkpoints/ParsePaprika-checkpoint.ipynb
__scripts/data/
__scripts/backups/
__scripts/config.py
__scripts/DelLocalFiles.py

# Site Stuff
_site/
_data/meal_by_recipe_and_date.json

# Misc
.DS_Store
.htaccess
vendor