{% assign debug = false %}
{% assign dump  = false %}
{% comment %} --- DEBUG ---------------------- {% endcomment %}
  {% if debug %}
  <pre>
  <b>page.i_am :</b> {{ page.i_am }}
  <b>page.title:</b> {{ page.title }}
  <b>page.url  :</b> {{ page.url }}
  <b>page.date :</b> {{ page.date }}
  <b>page.id   :</b> {{ page.id }}
  <b>page.dir  :</b> {{ page.dir }}
  <b>page.name :</b> {{ page.name }}
  <b>page.path :</b> {{ page.path }}
  </pre><hr>
  {% endif %}
{% comment %} --- END DEBUG ------------------ {% endcomment %}
<!-- Add backlinks to the current page --> 
{%- assign link_count = 0 -%}
{%- assign page_title_slug = page.title | replace: " ", "-" -%}
{%- assign wiki_link_title = '[' | append: page_title_slug | append: '' -%}

{% comment %} --- DEBUG ---------------------- {% endcomment %}
  {% if debug %}
  {{wiki_link_title}}<hr>
  {% endif %}
{% comment %} --- END DEBUG ------------------ {% endcomment %}

{%- for link_origin in site.documents -%}
	{%- if link_origin.url != page.url -%}
		{%- if link_origin.content contains wiki_link_title -%}
      {%- assign link_count = link_count | plus:1 -%}

{% comment %} --- DEBUG ---------------------- {% endcomment %}
  {% if debug %}
  {{link_count}}<br><br>
  <pre>
  <b>link_origin.i_am :</b> {{link_origin.i_am}}
  <b>link_origin.title:</b> {{link_origin.title}}
  <b>link_origin.url  :</b> {{link_origin.url}}
  <b>link_origin.date :</b> {{link_origin.date}}
  <b>link_origin.id   :</b> {{link_origin.id}}
  <b>link_origin.dir  :</b> {{link_origin.dir}}
  <b>link_origin.name :</b> {{link_origin.name}}
  <b>link_origin.slug :</b> {{link_origin.slug}}
  <b>link_origin.relative_path :</b> {{link_origin.relative_path}}
  </pre>
  {% endif %}
{% comment %} --- END DEBUG ------------------ {% endcomment %}

		{%- endif -%}
	{%- endif -%}
{%- endfor -%}

{%- if link_count > 0 -%}
{%- assign wiki_link_title = '[' | append: page_title_slug | append: '' -%}

<div class="related">
	<h4 class="marker fgc-orange">I refer to this {{ page.i_am }} in</h4>
	<div class="related-wrapper">

		{%- for link_origin in site.documents -%}
			{%- if link_origin.url != page.url -%}
				{%- if link_origin.content contains wiki_link_title -%}

				<div class="related-group"><a href="{{link_origin.url}}">
					<p class="related-title">{{ link_origin.title }}</p>
					<p class="related-excerpt">{{ link_origin.content | markdownify | strip_html | truncate: 140 }}</p>
				</a></div>

				{%- endif -%}
			{%- endif -%}
		{%- endfor -%}

	</div>
<br/>
</div>

{%- endif -%}