{% comment %} 
MODULE:
  Meal Notes Sidebar
CONTEXT:
  "notes" - Jeyll collection of pages
PARAMETERS
  "notes_title" - Text or HTML - STRING
USED IN:
  - Meal Notes Index  ( notes_index.html )
{% endcomment %}

<div class="meals">

  {% if include.notes_title %}
  {{include.notes_title}}
  {% else %}
  <h4>Rough Notes</h4>
  {% endif %}

  <ul>
    {% for note in include.rought_notes limit: {{include.limit}} %}
      {% assign key_date = note.date | date: "%Y-%m-%d" %}
      {% assign key_meal = note.title %}
      {% assign rbdm_dict = site.data.meals_indices.recipe_by_date_and_meal[key_date][key_meal] %}
      <li>
        <a href="{{note.url}}" title="{{note.title}}, {{note.date | date_to_string: "ordinal", "US" }}">
        {{note.title}}, {{note.date | date_to_string: "ordinal", "US" }}
        {% if rbdm_dict %}
          <br><strong>
          {% for recipe_id in rbdm_dict %}
            {% if forloop.last %}{% assign sep = "" %}{%else%}{% assign sep = ", " %}{% endif %}
            {% assign result = site.recipes | where: "p_recipe_id", recipe_id %}
            {% if result[0] %}
              {% for recip in result %}
              {{recip.title}}{{sep}}<br>
              {% endfor %}
            {% endif %}
          {% endfor %}
          </strong>
        {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
  </div>