{% comment %} 
MODULE:
  Fetaured Meal Notes
CONTEXT:
  "notes" - Jeyll collection of pages
USED IN:
  - Home              (        home.html )
  - Meal Notes Index  ( notes_index.html )
{% endcomment %}

<style>
.meal_title_block {
  margin:0;
  padding: 10px 4em 0 0;
}
.has_photo {
  height:300px;
  position:relative;
}
.has_photo .meal_title_block {
  background: rgba(255,255,255,1);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,0.1) 100%);
  border-radius: 0 0 0 0;
  bottom: 0;
  position:absolute;
  width: 100%;
}
.has_photo h5,
.has_photo em {
}
</style>

<div class="meal-notes-feed">
  {% if include.notes_title %}
  {{include.notes_title}}
  {% else %}
  <h4>Featured Notes</h4>
  {% endif %}

  {% for note in include.notes limit: {{include.limit}} %}
    {% assign key_date = note.date | date: "%Y-%m-%d" %}
    {% assign key_meal = note.title %}
    {% assign rbdm_dict = site.data.meals_indices.recipe_by_date_and_meal[key_date][key_meal] %}

    {% if forloop.last %}
      {% assign lastclass = " last" %}
    {% endif %}
    {% if note.photo %}
      {% assign class_has_photo = " has_photo" %}
      {% assign class_has_photo_bg = 'style="background:50% 50% / cover no-repeat url(' | append: note.photo | append: ')"' %}
    {% else %}
      {% assign class_has_photo = "" %}
      {% assign class_has_photo_bg = "" %}
    {% endif %}
    <div class="note{{lastclass}}">
      <a
        class="title{{ class_has_photo }}"
        href="{{note.url}}"
        title="{{note.feature}} - {{note.title}}, {{note.date | date_to_string: 'ordinal', 'US' }}"
        {{ class_has_photo_bg }}>
        <div class="meal_title_block">
          <h5>{{note.feature}}</h5>
          
          <strong>{{note.title}}, {{note.date | date_to_string: "ordinal", "US" }}</strong>
  
          {% if rbdm_dict %}
            <br> 
            <em>Recipes:
            {% for recipe_id in rbdm_dict %}
              {% if forloop.last %}{% assign sep = "" %}{%else%}{% assign sep = ", " %}{% endif %}
              {% assign result = site.recipes | where: "p_recipe_id", recipe_id %}
              {% if result[0] %}
                {% for recip in result %}
                {{recip.title}}{{sep}}
                {% endfor %}
              {% endif %}
            {% endfor %}
            </em>
          {% endif %}
          

        </div>
      </a>
      {% comment %}
      <p>
      {{ note.content | markdownify  | strip_html | truncatewords: 60, " …" }}
      </p>
      {% endcomment %}
      {% if include.excerpt %}
      {{ note.excerpt | strip_html }}
      {% endif %}
    </div>
  {% endfor %}
</div>