{% comment %} 
MODULE:
  Recipes Stamps Grid
CONTEXT:
  "recipes" - Jeyll collection of pages
PARAMETERS
  "recipe_stamps_grid_title" - Text or HTML - STRING
  "limit" - limit of entries to show - INT
  "include_css" - wheteher or not to display - BOOL

USED IN:
  - 2x Featured Recipes ( recipes_featured.html )
{% endcomment %}

{% if include.recipe_stamps_grid_title %}
<h4>{{ include.recipe_stamps_grid_title }}</h4>
{% else %}
<h4>Recipes</h4>
{% endif %}
<br>

<div class="recipes-list">
  {% for recipe in include.recipes limit: {{include.limit}} %}
    <div class="recipe-box">
      <a class="recipe-item" href="{{ recipe.url }}" title="{{ recipe.title }}">
        <div class="recipe-img">
          {% if recipe.photo_thumb %}
          <img src="/images/recipes/{{recipe.photo_thumb}}" />
          {% else %}
          <img src='/images/200x200.gif' />
          {% endif %}
        </div>
        <div class="recipe-deets">
          <div class="recipe-name">{{ recipe.title }}</div>
          {% comment %}
            <div class="recipe-created-date">{{ recipe.created | date_to_string: "ordinal", "US" }}</div>
          {% endcomment %}
          {% comment %}
            {% if recipe.categories %}
              <div class="recipe-cats">
              {% for cat in recipe.categories %}
                {{cat}}
              {% endfor %}
              </div>
            {% endif %}
          {% endcomment %}
        </div>
      </a>
    </div>

  {% endfor %}
</div>