{% comment %} 
MODULE:
  Recipes Cartouches
CONTEXT:
  "recipes" - Jeyll collection of pages
PARAMETERS
  "recipe_stamps_grid_title" - Text or HTML - STRING
  "limit" - limit of entries to show - INT
  "include_css" - wheteher or not to display - BOOL

USED IN:
  - Home          ( home.html )
  - Recipe Notes  ( note.html)
{% endcomment %}

{% if include.include_css %}
<style>
  a.recip-figure {
    display: block;
    width: 100%;
    margin: 0 0 2em;
  }
  .recip-thumb {
    display: block;
    height: 120px;
    width: 100%;
    margin-bottom: 4px;
    position: relative;
  }
  .recip-caption {
    font-weight: 400;
    line-height: 140%;
  }
  .recip-caption em {
    font-size: 12px;
    font-style: normal;
    display:block;
  }
  .stars {
    position: absolute;
    bottom: -6px;
    right: 0px;
    font-size: 24px;
    color: #fff;
    font-style: normal;
    display: block;
    line-height: 1.5em;
    text-align: right;
  }
</style>
{% endif %}



{% for recipe in include.recipes limit: {{include.limit}} %}
  <a class="recip-figure" href="{{recipe.url}}">
    {% if recipe.photo_thumb %}
      {% capture background %}no-repeat center center url('/images/recipes/{{recipe.photo_thumb}}'){% endcapture%}
    {% else %}
      {% assign background = "#f1f1f1" %}
    {% endif %}
    <div
      class="recip-thumb"
      style="background:{{ background }};background-size: cover;"
      >
      &nbsp
      {% comment %}
      {% if recipe.rating >= 4 %}
        <i class="stars">{% for i in (1..recipe.rating) %}★{% endfor %}</i>
      {% endif %}
      {% endcomment %}
      </div>
    <div class="recip-caption">
      {{recipe.title}}
      {% if include.show_date %}
        <em>{{ recipe.created_ts | date_to_string: "ordinal", "US"  }}</em>
      {% endif %}
    </div>
  </a>
{% endfor %}
