<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
    <link rel="stylesheet" href="https://joi.ito.com/_site/css/foundation.css#2016-04-12" type="text/css" />
    <link rel="stylesheet" href="https://joi.ito.com/_site/css/joi.css#2016-04-21" type="text/css" />
    <link rel="stylesheet" href="https://joi.ito.com/_site/css/print.css#2018-07-21" type="text/css" />
		</head>
		<body>
			<nav>
			<div class="top-bar">
  <div class="row columns">
    <div class="top-bar-title">
			      <a id="joilogo" href="https://joi.ito.com/" title="Joi Ito's Web" accesskey="1"><img src="/images/joi-ito-logo-300.png" alt="Joi Ito [logo]" width="92" height="92" /></a>
<h1 id="header-name"><a href="/" accesskey="1">Joi Ito&#039;s Web</a></h1>
      <h2 id="header-description">Joi Ito's conversation with the living web.</h2>
    
    </div>
    <div>
      <div class="top-bar-left"></div>
      <div class="top-bar-right">
        <div id="header-menu">
  <ul class="menu">
  	<li><a href="/">GitHub Pages Home</a></li>
	<li><a href="/cooking">Recipes</a></li>
    <li><a href="/" title="Joi Ito's Web">Home</a></li>
    
    <li><a href="https://joi.ito.com/jp/" title="Joi Ito - 日本語 / Japanese Weblog">日本語</a></li>
    <li><a href="https://joi.ito.com/bio.html" title="Joi Ito's Bio">Bio</a></li>
    <li><a href="http://diving.ito.com/" title="Joi Ito - Diving Blog">Diving</a></li>
  </ul>
</div>
      </div>
    </div>
  </div>
</div>


	    		<ul>

	    		</ul>
			</nav>
<div class="row" id="content">
    
    <div class="large-7 columns" id="posts">
			
			{{ content }}
	</div>
</div>
			
<!-- /.container -->
<footer>
<div class="row columns">
    <div class="float-right" id="badges">
    
        
          <a id="cc" rel="license" href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 (BY) - more information"><img alt="Creative Commons License" src="https://joi.ito.com/_site/img/CC-BY-4.0-Badge-360x120.png" /></a>
          <div class="is-hidden">
            <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type">Joi Ito's Weblog</span> by <a xmlns:cc="https://creativecommons.org/ns#" href="https://joi.ito.com/" property="cc:attributionName" rel="cc:attributionURL">Joi Ito</a> is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
          </div>
        
    
        <a href="https://www.kare.com/" title="Susan Kare Design">Susan&nbsp;Kare</a>&nbsp;-&nbsp;Logo<br>
        <a href="https://www.movabletype.org" title="Powered by Movable Type">Powered&nbsp;by&nbsp;Movable&nbsp;Type</a>
    
    </div>
    <div class="float-left" id="techpro">
        
        <a href="https://en.wikipedia.org/wiki/Joi_Ito" title="Joi Ito"><img id="joi-ito-portrait" src="https://joi.ito.com/_site/img/Joi-Ito-Portrait-256px.jpg" width="92" height="92" alt="Joi Ito" border="0" /></a>
    </div>
    <div class="float-left" id="credits">
        <a id="joi-contact" href="mailto:joi@ito.com?Subject=Note%20from%20the%20Web" target="_top">Joi Ito</a><br>
    <a id="orcid-link" href="https://orcid.org/0000-0002-5136-8978" title="Joichi Ito on ORCiD"><img src="https://joi.ito.com/_site/img/flourish/ORCiD.png" alt="ORCiD"> ORCiD: 0000-0002-5136-8978</a><br>    
    <a id="linkedin-link" href="https://www.linkedin.com/in/joiito"><img width="80" height="15" border="0" alt="View Joichi Ito's profile on LinkedIn" src="https://joi.ito.com/_site/img/services/Linked-in.png" /></a><br>
    </div>
</div>
</footer>
		</body>
	</html>