---
layout: default
---
<!-- template: post.html -->
<div class="row" id="content">
	<div class="large-12 columns" id="">

		<h3>{{ page.title }}</h3>
		<p>{{ page.date | date: '%B %d, %Y' }}</p>

		{{ content }}

	</div>
</div>
<hr>
<div class="row" id="content">
	<div class="large-6 columns" id="">

		<h4>Posts</h4>

		{% for post in site.posts %}
		<p><strong><a href="{{ post.url }}">{{ post.title }}</a></strong><br>{{post.date | date: '%B %d, %Y' }}</p>
		{% endfor %}

	</div>
	<div class="large-6 columns" id="">
		<h4>By Category</h4>
		{% for tag in site.tags %}
			<h5>{{ tag[0] | capitalize }}</h5>
			<ul>
				{% for post in tag[1] %}
					<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		{% endfor %}
		
	</div>
</div>
<hr>
<div class="row" id="content">
	<div class="large-12 columns" id="">

<style>
.recipes-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}

.recipes-list .recipe-item-box {
	width:33.3%;
}
.recipes-list a.recipe-item {
	display: flex;
	margin-right:20px;
	padding-top:20px;
	border-top: 1px solid #000;
}
.recipes-list a.recipe-item img {
	margin: 0 10px 20px 0;
	width:100px;
	height:100px;
}
.recipes-list a.recipe-item .recipe-deets {
	width: 50%;
	line-height: 1.2em;
}
.recipes-list a.recipe-item .recipe-name {
	font-size: 16px;
	font-weight: 500;
	height:80px;
}
.recipes-list a.recipe-item .recipe-cats {
	font-size: 12px;
	font-weight: 400;
	color: #000;
}
.recipes-list a.recipe-item:hover .recipe-cats {
	color: #666;
}
</style>
		<h4>★★★★★ Recipes</h4>
		<br>
		<div class="recipes-list">
			{% for recipe in site.recipes %}
				{% assign json_data = site.data.recipes[recipe.filename] %}

				{% if json_data.rating == 5 %}
				<div class="recipe-item-box">
				<a class="recipe-item" href="{{ recipe.url }}">
					{% if json_data.photo %}
					<img src="/images/recipes/{{json_data.uid}}/{{json_data.photo}}" />
					{% else %}
					<img src='/images/200x200.gif' />
					{% endif %}
					<div class="recipe-deets">
					<div class="recipe-name">{{ recipe.name }}</div>
					{% if json_data.categories %}
						<div class="recipe-cats">
						{% for cat in json_data.categories %}
							{{cat}}
						{% endfor %}
						</div>
					{% endif %}
					</div>
				</a>
				</div>

				{% endif %}

			{% endfor %}
		</div>


	</div>
</div>
<!-- /template: post.html -->