---
layout: default
---
<!-- template: post.html -->
<style>
  .recipes-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .recipes-list .recipe-item-box {
    width:33.3%;
  }
  #recipes_mine .recipes-list .recipe-item-box {
    width:100%;
  }
  .recipes-list a.recipe-item {
    display: flex;
    margin-right:20px;
    padding-top:20px;
    border-top: 1px solid #999;
  }
  .recipes-list a.recipe-item img {
    margin: 0 10px 20px 0;
    width:100px;
    height:100px;
  }
  .recipes-list a.recipe-item .recipe-deets {
    width: 50%;
    line-height: 1.2em;
  }
  .recipes-list a.recipe-item .recipe-name {
    font-size: 16px;
    font-weight: 500;
    height:80px;
  }
  .recipes-list a.recipe-item .recipe-cats {
    font-size: 12px;
    font-weight: 400;
    color: #000;
  }
  .recipes-list a.recipe-item:hover .recipe-cats {
    color: #666;
  }
  </style>

<div class="row" id="content">
	<div class="large-12 columns" id="">

		<h3>{{ page.title }}</h3>
    <div class="content">
		  {%- include content.html -%}
    </div>
	</div>
</div>

<hr>

<div class="row">

  <div class="large-8 columns" id="posts">
		<h4>Posts</h4>
		{% for post in site.posts %}
		<p><strong><a href="{{ post.url }}"
									aria-label="{{post.content | markdownify | strip_html | normalize_whitespace | truncate: 250 | newline_to_br}}"
									alt="{{ post.title }}">{{ post.title }}</a></strong><br>{{post.date | date: '%B %d, %Y' }}</p>
		{% endfor %}
	</div>

  <div class="large-4 columns" id="recipes_mine">
		<h4 class="marker">My Recipes</h4>
		<br>
		<div class="recipes-list">
			{% for recipe in site.recipes %}

				{% if recipe.type == "_mine" %}
				<div class="recipe-item-box">
				<a class="recipe-item" href="{{ recipe.url }}">
					{% if recipe.photo_thumb %}
					<img src="/images/recipes/{{recipe.photo_thumb}}" />
					{% else %}
					<img src='/images/200x200.gif' />
					{% endif %}
					<div class="recipe-deets">
					<div class="recipe-name"
									aria-label="Ingredients: {{recipe.ingredients | truncate: 250}}"
									alt="{{ recipe.title }}">{{ recipe.title }}</div>
					{% if recipe.categories %}
						<div class="recipe-cats">
						{% for cat in recipe.categories %}
              {% if cat != "_mine" %}
                {{cat}}
              {% endif %}
						{% endfor %}
						</div>
					{% endif %}
					</div>
				</a>
				</div>
				{% endif %}

			{% endfor %}
		</div>	
	</div>

</div>

<hr>

{% comment %}
<div class="row">

  <div class="large-6 columns" id="">

	</div>

  <div class="large-6 columns" id="posts_tags">
		<h4>By Tag</h4>
		{% for tag in site.tags %}
			<h5>{{ tag[0] | capitalize }}</h5>
			<ul>
				{% for post in tag[1] %}
					<li><a href="{{ post.url }}" 
									aria-label="{{post.content | markdownify | strip_html | normalize_whitespace | truncate: 250 | newline_to_br}}"
									alt="{{ post.title }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		{% endfor %}		
	</div>

</div>
<hr>
{% endcomment %}

<div class="row">
	<div class="large-12 columns" id="recipes_5star">

		<h4>Inspiring <!--★★★★★-->⭐️⭐️⭐️⭐️⭐️ Recipes</h4>
		<br>
		<div class="recipes-list">
			{% for recipe in site.recipes %}

				{% if recipe.rating == 5 and recipe.type != "_mine" %}
				<div class="recipe-item-box">
				<a class="recipe-item" href="{{ recipe.url }}">
					{% if recipe.photo_thumb %}
					<img src="/images/recipes/{{recipe.photo_thumb}}" />
					{% else %}
					<img src='/images/200x200.gif' />
					{% endif %}
					<div class="recipe-deets">
					<div class="recipe-name"
									aria-label="Ingredients: {{recipe.ingredients | truncate: 250}}"
									alt="{{ recipe.title }}">{{ recipe.title }}</div>
					{% if recipe.categories %}
						<div class="recipe-cats">
						{% for cat in recipe.categories %}
							{{cat}}
						{% endfor %}
						</div>
					{% endif %}
					</div>
				</a>
				</div>
				{% endif %}

			{% endfor %}
		</div>


	</div>
</div>
<!-- /template: post.html -->