---
layout: default
---
<!-- template: home.html -->
<style>

  .meal-notes {
    border-bottom:none;
    margin-bottom:0;
    padding-bottom:0;
  }
  </style>

{% if content != "" %}
<div class="row" id="">
  <div class="large-12 columns" id="">
    {% comment %}
    <h3>{{ page.title }}</h3>
    {% endcomment %}
    <div class="content">
      {%- include content.html -%}
    </div>
  </div>
</div>
<hr>
{% endif %}

<div class="row">
  <div class="columns small-12 large-8" id="">

    {% comment %}
    Create Context for Meal Notes Feed Include
    {% endcomment %}
    {% assign notes = site.notes | where_exp:"item", "item.promote contains 'home'" | sort: 'date' | reverse %}
    {% capture notes_title_block %}
      <h4><a href="/notes/" title="Meal Notes">Recent Meal Notes <em>»</em></a></h4>
    {% endcapture %}
    {% include meal_notes_feed.html notes=notes limit=3 notes_title=notes_title_block excerpt=true %}

  </div>

  <div class="columns small-12 large-3" id="posts">
    <div>

      <h4 class="marker">Recent recipes</h4>

      {% assign recipes = site.recipes | where_exp: "item", "item.mine" | sort: "created_ts" | reverse %}
      {% if recipes[0] %}
        {% include recipes_cartouches.html recipes=recipes include_css=true limit=5 show_date=true %}
      {% endif %}

      {% comment %} <h4>Posts</h4>
      {% for post in site.posts %}
      <p><strong><a href="{{ post.url }}"
                    aria-label="{{post.content | markdownify | strip_html | normalize_whitespace | truncate: 250 | newline_to_br}}"
                    alt="{{ post.title }}">{{ post.title }}</a></strong><br>{{post.date | date: '%B %d, %Y' }}</p>
      {% endfor %} {% endcomment %}



    </div>
  </div>

</div>

<hr>

<!-- /template: home.html -->