---
layout: default
---
{%- comment -%}
Assign Date and Meal vars from the filename of this Note,
which happen to correspond/define the page.title and page.note vars
{%- endcomment -%}

{% assign key_date = page.date | date: "%Y-%m-%d" %}
{% assign key_meal = page.title %}

<!-- template: note.html -->
<div class="row" id="title">
	<div class="small-12 columns">

    <div class="page-header">
      <div class="sup-head">Meal notes</div>
      <div class="title">{{ page.title }} - {{ page.date | date_to_string: "ordinal", "US" }}</div>
    </div>

  </div>
</div>

<div class="row" id="">
	{%- comment -%}
	<div class="medium-2 columns" id="left-margin">
		&nbsp;
	</div>
	{%- endcomment -%}
	<div class="medium-9 columns" id="main">


		<div class="content">
      {%- include content.html -%}
    </div>

	</div>
	<div class="medium-3 columns" id="right-margin">
		{%- include backlinks.html -%}
    
    {% assign rbdm_dict = site.data.meals_indices.recipe_by_date_and_meal[key_date][key_meal] %}
    {% if rbdm_dict %}
      <h4 class="marker">Recipes prepared</h4>
      {% for recipe_id in rbdm_dict %}
        <!--{{ recipe_id }}-->
        {% assign result = site.recipes | where: "p_recipe_id", recipe_id %}
        {% if result[0] %}
          {% for recip in result %}
            <a class="recip-figure" href="{{recip.url}}">
              <div
                class="recip-thumb"
                style="background:no-repeat center url('/images/recipes/{{recip.photo_thumb}}');">&nbsp</div>
              <div class="recip-caption">{{recip.title}}</div>
            </a>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}

	</div>
</div>
<!-- /template: note.html -->