---
layout: default
---
<!-- template: page.html -->

<div class="row" id="title">
	<div class="small-12 columns">
    <div class="page-header">
      <div class="sup-head"><a href="/pages/" title="Pages Directory">Pages</a></div>
      <div class="title">{{ page.title }}</div>
      <div class="sub-title">
        {% if page.tags %}
          {% include object_tag_lists.html tags_array=page.tags tag_label="Tags: " %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row" id="">

	<div class="medium-9 columns" id="main">

		<h3></h3>
    <div class="content">
      {%- include content.html -%}
    </div>
	</div>
	<div class="medium-3 columns" id="right-margin">
    {%- comment -%}{%- endcomment -%}
    {%- include backlinks.html -%}
	</div>
</div>
<!-- /template: page.html -->