---
layout: default
---
<!-- template: page.html -->
<div class="row" id="content">
	{%- comment -%}
	<div class="medium-2 columns" id="left-margin">
		&nbsp;
	</div>
	{%- endcomment -%}
	<div class="medium-9 columns" id="main">

		<h3>{{ page.title }}</h3>
		<p>{{ page.date | date: '%B %d, %Y' }}</p>

		{%- include content.html -%}

	</div>
	<div class="medium-3 columns" id="right-margin">
    {%- comment -%}{%- endcomment -%}
    {%- include backlinks.html -%}
	</div>
</div>
<!-- /template: page.html -->