---
layout: default
---
<!-- template: recipe.html -->

{% comment %}
---- VARS ------------------------------------------------
{% endcomment %}

<p>{% if page.photo_large %}
  {% assign photo_hero = page.photo_large %}
  {% assign photo_hero_is = 'page.photo_large' %}
{% elsif page.photos_dict[0].filename %}
  {% assign photo_hero = page.photos_dict[0].filename %}
  {% assign photo_hero_is = 'page.photos_dict[0]' %}
{% else %}
  {% assign photo_hero = nil %}
  {% assign photo_hero_is = 'nil' %}
{% endif %}</p>

{% if page.mine %}
  {% assign class_mine = "mine" %}
{% else %}
  {% assign class_mine = "notmine" %}
{% endif %}

{% comment %}
---- END VARS ------------------------------------------------
{% endcomment %}
<!--pre>{{ page.created_ts }}</pre-->
<div class="{{ class_mine }}" id="recipe">
<div class="row" id="title">
	<div class="small-12 columns">

    <div class="page-header">
      <div class="sup-head">Recipe</div>

      {% assign recipe_prefix = "" %}
      {% if page.mine %}
        {% assign recipe_prefix = "Joi's " %}
      {% endif %}

      <div class="title marker">{{recipe_prefix}}{{ page.title }}</div>
      {% if page.source %}
        <p class="source"> 
          {% unless page.source_url %}
            Source: {{ page.source }}
          {% else %}
            For the original recipe and instructions, see: <a href="{{ page.source_url }}" title="{{ page.source }}">"{{ page.title }}" at {{ page.source }}</a>
          {% endunless %}
        </p>
      {% endif %}

      <div class="sub-title">
        {% if page.tags %}

          {% include object_tag_lists.html tags_array=page.categories tag_label="Tags: " %}
{% comment %}
          <span class="tags">Tags: 
          {% for tag in page.categories %}
            {% if forloop.last %}
              {% assign comma = "" %}
            {% else %}
              {% assign comma = ", " %}
            {% endif %}
            <a href="/tag/{{ tag | slugify }}" title="Tagged as {{ tag | downcase }}">{{ tag | downcase }}</a>{{comma}}
          {% endfor %}
          </span>
{% endcomment %}
        {% endif %}
      </div>

    </div>

  </div>
</div>

{% if photo_hero %}
<!-- Hero Banner Photo -->
<div class="row" id="big-photo">
	<div class="small-12 columns">
		<img src="/images/recipes/{{photo_hero}}">
	</div>
</div>
<!-- End Hero Banner Photo -->
{% else %}
  {% comment %}<hr>{% endcomment %}
{% endif %}

{% comment %}
Hack. 
Most of the content is templated in our Python script and inserted into
the markdown file. However, we open this DIV and place the backlinks include
here, because we cannot invoke another Liquid template over in the Python.
We then use CSS to push the Backlinks to the right of the layout.
Hacky, but it works.
- B. 2021-03-05
{% endcomment %}
<div class="row" id="row-one">
  <div class="large-4 medium-5 columns" id="backlinks">
    <div class="bgc-lorange">{% include backlinks.html %}</div>
    &nbsp;
  </div>

  {% include content.html %}

  <div class="medium-2 columns" id="meal-notes">
  
    {% comment %}
      Here we take the current Recipe's Paprika ID and use it as a key
      in to first fish out a list of Meal Dates from our 
      meal_by_RECIPE_and_date Meals index
    {% endcomment %}


    {% assign pp_recipe_id = page.p_recipe_id | downcase %}
    {% assign mdbrd_dict = site.data.meals_indices.meal_data_by_recipe_and_status[pp_recipe_id] %}


    {% if mdbrd_dict %}
      {% for note_sit in mdbrd_dict %}
        {% if note_sit[0] != 'nofile' %}
          <div class="meals">
            <h6>
            {% case note_sit[0] %}
            {% when 'featured' %}Featured Notes
            {% when 'regular' %}Meal Notes
            {% endcase %}
            </h6>
            <ul>
              {% for meal in note_sit[1] reversed %}
                {% assign date_us_ordinal = meal.date | date_to_string: 'ordinal', 'US' %}
                {% assign day = meal.date | split: "-" %}
                {% comment %}{% capture note_path %}/{{ day[0] }}/{{ day[1] }}/{{ day[2] }}/notes/{{ meal['type'] | downcase }}{% endcapture %}{% endcomment %}
                {% capture note_path %}/meal-notes/{{ day[0] }}-{{ day[1] }}-{{ day[2] }}-{{ meal['type'] | downcase }}{% endcapture %}
                <li>
                  {% case note_sit[0] %}
                    {% when 'featured' %}
                      <a href="{{ note_path }}" title="{{ meal.feature }} - {{ meal.type }} - {{ date_us_ordinal }}">
                        <!--em>{{ meal.type }}</em-->
                        <strong>{{ meal.feature }}</strong>
                        <em>{{ date_us_ordinal }}</em>
                      </a>
                    {% when 'regular' %}
                      <a href="{{ note_path }}" title="{{ meal.type }} - {{ date_us_ordinal }}">
                      <strong>{{ meal.type }}</strong>
                      <em>{{ date_us_ordinal }}</em>
                      </a>
                  {% endcase %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}



    {% if jekyll.environment == 'development' %}
      {% if mdbrd_dict %}
        {% for note_sit in mdbrd_dict %}
          {% if note_sit[0] == 'nofile' %}
            <div class="meals dev-only app-ui">
              <h6>No Notes Yet</h6>
              <ul>
                {% for meal in note_sit[1] reversed %}
                  {% capture obs_path %}_notes%2F{{ meal['date'] }}-{{ meal['type'] | downcase }}{% endcapture %}
                  <li>
                    <a class="no-endpoint-link" title=""
                      href="obsidian://new?vault=joi.github.io&file={{ obs_path }}">
                      <em>{{ meal['type'] }}</em>
                      <strong>{{ meal['date'] | date_to_string: 'ordinal', 'US' }}</strong>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}


  </div><!-- #photo-sidebar -->
</div><!-- #row-two -->


{% comment %}
We don't need this do we? 
I have it here and in the Python script.
{% if page.mine %}
  {% if page.html['nutrition'] != null %}
  <hr>
  <div class="row" id="row-three">
    <div class="small-12 columns">
        <h4 id="nutrition">Nutritional Facts</h4>
        <div class="box box-nutrition">
          {{ page.html['nutrition'] }}
        </div>
    </div>
  </div><!-- #row-three -->
  {% endif %}
{% endif %}
{% endcomment %}


{% if jekyll.environment == 'development' %}
  <hr>
  <div class="row dev-only" id="row-three">

    <div class="medium-4 columns" id="stuff">

      {% if page.categories %}
      <div class="dev-cats">
        <h4>Categories</h4>
        <ul>
          {% for cat in page.categories %}
            <li>{{ cat }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if page.rating %}
      <h4>Rating</h4>
      <div class="dev-rating">
        {% for num in (1..page.rating) %}★ {% endfor %} <em>({{ page.rating }})</em>
      </div>
      {% endif %}

      <h4>Meta</h4>
      <div class="dev-mine">
      {% if page.mine %}
        This is <strong>my recipe</strong>.
      {% else %}
        This is <strong>not</strong> my recipe.
      {% endif %}
      </div>
      <div class="dev-type">
      {% if page.type %}
        This recipe is <strong>{{ page.type }}</strong>.
      {% else %}
        This recipe has <strong>no special</strong> type.
      {% endif %}
      </div>

    </div>

    <div class="medium-8 columns" id="photo-strip">
      <!--p><strong>{{photo_hero_is}}</strong> (<em>{{ photo_hero }})</em> is the Hero Photo</p-->
      {% if page.photos_dict %}
      <div class="dev-photos">
        {% for phot in page.photos_dict %}
          {% assign phot_name = phot[0] %}
          {% assign phot_filename = phot[1] %}
          {% if phot.filename != photo_hero %}
            <figure>
              <a
                href="/images/recipes/{{ phot_filename }}" 
                title="{{ phot_name }} : {{ phot_filename }}">
                  <img
                    src="/images/recipes/{{ phot_filename }}"
                    alt="{{ phot_name }} : {{ phot_filename }}" />
              </a>
              <figcaption><strong>{{ phot_name }}</strong><br>{{ phot_filename }}</figcaption>
            </figure>
          {% endif %}
        {% endfor %}
      {% else %}
        {% if page.photo and page.photo != photo_hero %}
          <figure>
            <a
              href="/images/recipes/{{page.photo}}" 
              title="recipe photo from source">
                <img
                  src="/images/recipes/{{page.photo}}"
                  alt="recipe photo from source" />
              </a>
          </figure>
        {% else %}
          <!-- No photos -->
        {% endif %}
      {% endif %}
      </div>
      &nbsp;
    </div>
  </div>
{% endif %}



<hr>
<div class="row" id="row-four">
  <div class="small-12 columns" id="copyright">
      <h6>Recipe Copyright</h6>
      <div class="box">
        <p><a href="https://copyright.gov/help/faq/faq-protect.html#:~:text=How%20do%20I%20protect%20my%20recipe%3F">According to the US Copyright Office</a>:</p>
          <blockquote>
            "A mere listing of ingredients is not protected under copyright law. 
            However, where a recipe or formula is accompanied by substantial literary expression in the form of an explanation or directions, 
            or when there is a collection of recipes as in a cookbook, there may be a basis for copyright protection."
          </blockquote>
        <p>On this site, for recipes written by others, the ingredients are listed and a link to the original recipe has been provided.</p>
      </div>
  </div>
</div><!-- #row-three -->

</div><!-- .mine / .notmine -->

<!-- /template: recipe.html -->