---
layout: default
---
<!-- template: recipe.html -->

{%- comment -%}
---- VARS ------------------------------------------------
{%- endcomment -%}

{% assign json_data = site.data.recipes[page.filename] %}

{%- if page.photo_large -%}
  {%- assign photo_hero = page.photo_large -%}
{%- elsif page.photos[0].filename -%}
  {%- assign photo_hero = page.photos[0].filename -%}
{%- comment -%}
{%- elsif page.photo -%}
  {%- assign photo_hero = page.photo -%}
{%- endcomment -%}
{%- else -%}
  {%- assign photo_hero = nil -%}
{%- endif -%}

{% if page.type == "_mine" %}
  {%- assign class_mine = "mine" -%}
{% else %}
  {%- assign class_mine = "notmine" -%}
{% endif %}

{%- comment -%}
---- END VARS ------------------------------------------------
{%- endcomment -%}
<!--pre>{{ page.created_ts }}</pre-->
<div class="{{ class_mine }}">
<div class="row" id="title">
	<div class="small-12 columns">
    <h2 class="marker">{% if page.type == "_mine" %}Joi's {% endif %}{{ page.title }}</h2>

    {% if page.source %}
      <p class="source">Source: 
        {% unless page.source_url %}
          {{ page.source }}
        {% else %}
          <a href="{{ page.source_url }}" title="{{ page.source }}">{{ page.source }}</a>
        {% endunless %}
      </p>
    {% endif %}

  </div>
</div>

{%- if photo_hero -%}
<!-- Hero Banner Photo -->
<div class="row" id="big-photo">
	<div class="small-12 columns">
		<img src="/images/recipes/{{page.uid}}/{{photo_hero}}">
	</div>
</div>
<!-- End Hero Banner Photo -->
{%- else -%}
  {%- comment -%}<hr>{%- endcomment -%}
{%- endif -%}


<div class="row" id="row-one">
  <div class="large-8 medium-7 columns" id="writeup">

    {% if page.type == "_mine" %}
      {% if page.html['description'] != null %}
      <h4 id="description">Description</h4>
      <div class="box box-description">
        {{ page.html['description'] }}
      </div>
      {% endif %}
    {% else %}
    {% endif %}

    {%- if content != "" -%}
      <h4>Notes</h4>
      {%- include content.html -%}
    {% endif %}
  </div>
  <div class="large-4 medium-5 columns bgc-lorange" id="backlinks">
    {%- comment -%}{%- endcomment -%}
    {%- include backlinks.html -%}
    {%- comment -%}{{ has_backlinks }}{%- endcomment -%}
  </div>
</div><!-- #row-one -->

{%- comment -%}<hr>{%- endcomment -%}

<div class="row" id="row-two">
  <div class="medium-2 columns" id="photo-sidebar">
    <div class="" id="recipe-photos">
    {% if page.photos %}
      {% for phot in page.photos %}
        {%- if phot.filename != photo_hero -%}
          <figure>
            <a
              href="/images/recipes/{{page.uid}}/{{ phot.filename }}" 
              title="recipe photo - {{ phot.name }}">
                <img
                  src="/images/recipes/{{page.uid}}/{{ phot.filename }}"
                  alt="recipe photo - {{ phot.name }}" />
            </a>
          </figure>
        {%- endif -%}
      {% endfor %}
    {% else %}
      {% if page.photo and page.photo != photo_hero %}
        <figure>
          <a
            href="/images/recipes/{{page.uid}}/{{page.photo}}" 
            title="recipe photo from source">
              <img
                src="/images/recipes/{{page.uid}}/{{page.photo}}"
                alt="recipe photo from source" />
            </a>
        </figure>
      {% else %}
        <!-- No photos -->
      {% endif %}
    {% endif %}
    &nbsp;
    </div>
  </div><!-- #photo-sidebar -->

  <div class="medium-6 small-7 columns">
    {% if page.type == "_mine" %}
      {% if page.html['directions'] != null %}
      <h4 id="directions">Directions</h4>
      <div class="box box-directions">
        {{ page.html['directions'] }}
      </div>
      {% endif %}
    {% else %}
    {% endif %}
  </div>
  <div class="medium-4 small-5 columns">
    {% if page.html['ingredients'] != null %}
      <h4 id="ingredients">Ingredients</h4>
      <div class="box box-ingredients">
        {{ page.html['ingredients'] }}
      </div>
    {% endif %}
  </div>
</div><!-- #row-two -->

{% if page.type == "_mine" %}
  {% if page.html['nutrition'] != null %}
  <hr>
  <div class="row" id="row-three">
    <div class="small-12 columns">
        <h4 id="nutrition">Nutritional Facts</h4>
        <div class="box box-nutrition">
          {{ page.html['nutrition'] }}
        </div>
    </div>
  </div><!-- #row-three -->
  {% endif %}
{% endif %}

<hr>
<div class="row" id="row-four">
  <div class="small-12 columns">
      <h4 id="nutrition">Recipe Copyright</h4>
      <div class="box box-nutrition">
        <p><a href="https://www.copyright.gov/help/faq/faq-protect.html">According to the US Copyright Office</a>, "A mere listing of ingredients is not protected under copyright law. However, where a recipe or formula is accompanied by substantial literary expression in the form of an explanation or directions, or when there is a collection of recipes as in a cookbook, there may be a basis for copyright protection." On this site, for recipes written by others, the ingredients are listed and a link to the original recipe has been provided.</p>
      </div>
  </div>
</div><!-- #row-three -->

</div><!-- .mine / .notmine -->

<!-- /template: recipe.html -->