---
layout: default
---
<style>
.recipes-directory h3 {
  margin-bottom: 1em;
}
.recipes-directory h3 em {
  font-size: 90%;
  font-family: serif;
  padding-right: 4pt;
}
.directory-list {
  columns: 3 250px;
  column-gap: 4em;
  column-rule: 1px dotted #ddd;
  border-bottom: 1px solid #ccc;
  margin-bottom:3em;
  padding-bottom: 3em;
}
.recipes-list {
  margin-bottom: 2em;
  break-inside: avoid;
}
ul {
  margin-left: 0;
  list-style-type:none;
}
ul li {
  font-size: 90%;
  margin-bottom: .5em;
  text-indent: -1em;
  margin-left: 1em;
  line-height: 120%;
  }
.alpha {
  float: left;
  width: 40px;
  font-weight:bold;
}
.alpha-page-group {
  margin-left: 40px;
}
.page {
  margin-bottom: .25em;
}
#by-ingredients {
/*  padding-left:2em;
  border-left: 1px dashed #666; */
}
.cat-children {
  margin-left:1em;
}
</style>

<!-- template: pages_index.html -->
<div class="row" id="title">
	<div class="small-12 columns">
    <div class="page-header">
      <h1>Recipes</h1>
    </div>
		<div class="content">
      {%- include content.html -%}
    </div>
  </div>
</div>


<div class="row" id="">
	<div class="medium-6 columns">

    <div class="recipes-directory">
      {% assign recipes_tree = site.data.cats_hack.dimensions_tree %}
      {% for dims in recipes_tree %}
        {% if dims.cat_label != "-Ingredient" and dims.cat_label != Null %}
          <h3><em>by</em>{{dims.cat_label | remove_first: "-" }}</h3>
          <div class="directory-list">

            {% for cat in dims.children %}
              <div class="recipes-list">
                <h4>{{cat.cat_label}}</h4>
                <ul>
                {% for recipe in cat.recipes_nam %}
                  {% assign recipe_data = site.recipes | where:"p_recipe_id", recipe[1]%}
                  {% if recipe_data[0].mine or recipe_data[0].rating >= 4 %}
                  <li>
                    {% if recipe_data[0].mine == 1 %}
                      <span style="color:#fff;background:#09c;font-weight:600;font-size:.5rem;padding:0 3px;position:relative;top:-2px;">J</span>
                    {% else %}
                      <span style="color:#FFC299;background:#FFC299;font-weight:600;font-size:.5rem;padding:0 3px;position:relative;top:-2px;">J</span>
                    {% endif %}
                    <a href="{{recipe_data[0].permalink}}" title="{{recipe}}">{{recipe_data[0].title}}</a>
                  </li>
                  {% endif %}
                {% endfor %}
                </ul>
              </div>
            {% endfor %}
          
          </div>
        {% endif %}
      {% endfor %}
    </div>

	</div>

	<div class="medium-6 columns" id="by-ingredients">

    <div class="recipes-directory">

          <h3><em>by</em>Ingredients</h3>
          <div class="directory-list">

            <div class="recipes-list">
            {% for cat in site.data.cats_hack.dimensions_tree[2].children %}
              <h4>{{cat.cat_label}}</h4>
              <ul>
              {% for recipe in cat.recipes_nam %}
                {% assign recipe_data = site.recipes | where:"p_recipe_id", recipe[1]%}
                {% if recipe_data[0].mine or recipe_data[0].rating ==5 %}
                <li>
                  {% if recipe_data[0].mine == 1 %}
                    <span style="color:#fff;background:#09c;font-weight:600;font-size:.5rem;padding:0 3px;position:relative;top:-2px;">J</span>
                  {% else %}
                    <span style="color:#FFC299;background:#FFC299;font-weight:600;font-size:.5rem;padding:0 3px;position:relative;top:-2px;">J</span>
                  {% endif %}
                  <a href="{{recipe_data[0].permalink}}" title="{{recipe}}">{{recipe_data[0].title}}</a>
                </li>
                {% endif %}
              {% endfor %}
              </ul>
              {% if cat.children[0] %}

                <section class="cat-children">
                {% for step_children in cat.children %}
                  <h5>{{step_children.cat_label}}</h5>
                  <ul>
                    {% for step_recipe in step_children.recipes_nam %}
                      {% assign step_recipe_data = site.recipes | where:"p_recipe_id", step_recipe[1]%}
                      {% if step_recipe_data[0].mine or step_recipe_data[0].rating == 5 %}
                      <li>
                        {% if step_recipe_data[0].mine == 1 %}
                          <span style="color:#fff;background:#09c;font-weight:600;font-size:.5rem;padding:0 3px;position:relative;top:-2px;">J</span>
                        {% else %}
                          <span style="color:#FFC299;background:#FFC299;font-weight:600;font-size:.5rem;padding:0 3px;position:relative;top:-2px;">J</span>
                        {% endif %}
                        <a href="{{step_recipe_data[0].permalink}}" title="{{recipe}}">{{step_recipe_data[0].title}}</a>
                      </li>
                      {% endif %}
                    {% endfor %}
                  </ul>

                  {% if step_children.children[0] %}
                    <section class="cat-children">
                      {% for step_step_children in step_children.children %}
                        <h6>{{step_step_children.cat_label}}</h6>
                        <ul>
                          {% for step_step_recipe in step_step_children.recipes_nam %}
                            {% assign step_step_recipe_data = site.recipes | where:"p_recipe_id", step_step_recipe[1]%}
                            {% if step_step_recipe_data[0].mine or step_step_recipe_data[0].rating == 5 %}
                            <li>

                              {% if step_step_recipe_data[0].mine == 1 %}
                                <span style="color:#fff;background:#09c;font-weight:600;font-size:.5rem;padding:0 3px;position:relative;top:-2px;">J</span>
                              {% else %}
                                <span style="color:#FFC299;background:#FFC299;font-weight:600;font-size:.5rem;padding:0 3px;position:relative;top:-2px;">J</span>
                              {% endif %}
                              <a href="{{step_step_recipe_data[0].permalink}}" title="{{recipe}}">{{step_step_recipe_data[0].title}}</a>
                            {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      {% endfor %}
                    </section>
                  {% endif %}

                {% endfor %}
                </section>

              {% endif %}
            {% endfor %}
            </div>
          
          </div>

    </div>

  </div>
</div>

{% comment %}
                  {% assign site_page_Info = site.pages | where: "title", atag %}
<div class="row" id="">
	<div class="medium-8 columns">
    <div class="meal-notes-feed">
      {% assign pages = site.pages | where_exp:"item", "item.type != 'index'" | sort: 'title' %}
      {% for page in pages %}
      {% if forloop.last %}
      {% assign lastclass = " last" %}
      {% endif %}
        <div class="page{{lastclass}}">
          <a class="title" href="{{page.url}}" title="{{page.title}}">
          <h5>{{page.title}}</h5>
          </a>
          <em>{{page.date | date_to_string: "ordinal", "US" }}</em>
          <p>
          {{ page.content | markdownify  | strip_html | truncatewords: 60, " …" }}
          </p>
          {{ page.excerpt | strip_html }}
        </div>
      {% endfor %}
    </div>
	</div>
</div>
{% endcomment %}

{% if jekyll.environment == 'development' %}
<!--hr>
<div class="row dev-only" id=""><div class="medium-12 columns" id="stuff"></div></div-->
{% endif %}

<!-- /template: pages_index.html -->