---
layout: default
---

{% assign rating_limit = 4 %}

<!-- template: pages_feature.html -->
<div class="row" id="title">
	<div class="small-12 columns">
    <div class="page-header">
      <h1 class="marker">Featured Recipes</h1>
    </div>
		<div class="content">
      {%- include content.html -%}
    </div>
  </div>
</div>


<div class="row">
  <div class="large-12 columns" id="recipes_mine">

    {% assign recipes = site.recipes | where_exp:"item", "item.mine" | sort: 'title' %}
    {% assign recipe_stamps_grid_title = "My Recipes" %}

    {% include recipes_stamps_grid.html recipes=recipes recipe_stamps_grid_title=recipe_stamps_grid_title include_css=true limit=nil %} 

  </div>
</div>

<hr>

<div class="row">
  <div class="large-12 columns" id="recipes_5star">

    {% assign recipes = site.recipes | where_exp:"item", "item.mine != 1" | where_exp: "item", "item.rating >= 5" | where_exp: "item", "item.photo_thumb" | sort: 'title' %}
    {% assign recipe_stamps_grid_title = '5⭐️ Recipes' %}

    {% include recipes_stamps_grid.html recipes=recipes recipe_stamps_grid_title=recipe_stamps_grid_title limit=nil %} 

  </div>
</div>
<!-- /template: pages_feature.html -->