---
layout: default
---
<!-- template: recipe.html -->
<div class="row" id="content">
	<div class="large-7 columns" id="posts">

		<h3>{{ page.title }}</h3>
		{% assign json_data = site.data.recipes[page.filename] %}

		{% for getParam in json_data.html %}

			{% if getParam[1] != "None" %}
			<h4 id="{{getParam[0]}}">{{getParam[0] | capitalize}}</h4>
			<div class="box box-{{getParam[0]}}">
				{{getParam[1]}}
			</div>
			{% endif %}

		{% endfor %}


		<hr>
		<ul class="toc">
		{% for getParam in json_data.html %}
		<li><a href="#{{getParam[0]}}">{{getParam[0] | capitalize}}</a></li>
		{% endfor %}
		</ul>
		<hr>

		{{ content }}

	</div>
	<div class="large-5 columns" id="posts">

		{% if json_data.photos %}
			{% for phot in json_data.photos %}
				<img src="/images/recipes/{{json_data.uid}}/{{ phot.filename }}" /><br>
			{% endfor %}
		{% else %}
			{% if json_data.photo %}
				<img src="/images/recipes/{{json_data.uid}}/{{json_data.photo}}" />
			{% endif %}
		{% endif %}	
	</div>
</div>

<!-- /template: recipe.html -->